.header {
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.title {
  color: rgb(96, 96, 96);
}

.header_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro {
  font-size: 1.2rem;
  color:grey;
  max-width: 600px;
}

.control {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.control_label {
  padding-bottom: 5px;
}

.control > .warning {
  font-style: italic;
  color: orchid;
}