.container {
  margin: 10px auto;
}

.grid {

  margin: 10px auto 10px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  
  grid-gap: 2rem;
  max-height: 80vh;
}

.grid::before {
  content: '';
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  padding-bottom: 100%;
  width: 0;
}

hr {
  background-color: #00000033;
  border: 0;
  height: 2px;
  margin: 50px auto;
}
