.container {
  margin: 10px auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2.5rem;
  /* max-height: 80vh; */
  max-width: 95%;
}

.grid::before {
  content: '';
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  padding-bottom: 100%;
  width: 0;
}

.hero {
  max-width: 500px;
  width: 100%;
  /* min-width: 400px; */
}

hr {
  background-color: #00000015;
  border: 0;
  height: 1.5px;
  margin: 50px auto;
}
