.grid_wrapper:first-child {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 100%;
}

.chart_title {
  color: rgb(96, 96, 96);
  font-weight: 500;
  margin-bottom: 2.5px;
}

.chart {
  position: relative;
  width: 100%;
  overflow: hidden;

  aspect-ratio: 1;
}

.svg {
  margin: auto;
}

.grid_radial {
  font-size: 10;
}