.grid_wrapper:first-child {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 100%;

}

.chart_title {
  font-weight: 500;
  color: grey;
}

.chart {
  position: relative;
  width: 100%;
  overflow: hidden;

  aspect-ratio: 1;
}

.svg {
  margin: auto;
}

.grid_radial {
  font-size: 10;
}